<div class="p-5">
  <form method="get" action="/answer">
    <p>Ask a question to the stupid coach:</p>
    <input type="text" name="question" placeholder="Ask a question!">
    <input type="submit" value="Ask!">
  </form>
</div>
